@tailwind base;
@tailwind components;

@layer components {
    .combined-sidebar {
        border-right: 1px solid var(--border);
        color: var(--foreground);
        background-color: var(--background);
        height: calc(100vh - 4rem);
        overflow-y: auto;
        z-index: 100;
    }

    svg {
        width: 14px;
        height: 14px;
    }

    .highlight-bg {
        background-color: var(--muted);
    }
}

@media (max-width: 767px) {
    .combined-sidebar {
        width: 300px;
        position: fixed;
        top: 4rem;
        left: 0;
        bottom: 0;
        z-index: 50;
    }
}

@tailwind utilities;