@tailwind base;
@tailwind components;

@layer components {
    .command {
        --tw-border-opacity: 1;
        border-color: rgb(var(--border) / var(--tw-border-opacity));
    }

    .command-input {
        --tw-bg-opacity: 1;
        background-color: rgb(var(--input) / var(--tw-bg-opacity));
    }

    .command-list {
        border: 1px solid var(--border);
    }

}

@tailwind utilities;