@tailwind base;
@tailwind components;

@layer components {
    .command {
        --tw-border-opacity: 1;
        border-color: rgb(var(--border) / var(--tw-border-opacity));
    }

    .command-input {
        --tw-bg-opacity: 1;
        background-color: rgb(var(--input) / var(--tw-bg-opacity));
    }

    .command-list {
        background-color: hsl(var(--background));
        border-color: hsl(var(--border));
    }

    .command-item {
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
    }

    .command-item:hover,
    .command-item.hovered {
        background-color: hsl(var(--accent));
        color: hsl(var(--accent-foreground));
    }
}

@tailwind utilities;